# Ignorar caches e diretórios de build
__pycache__/
*.pyc
*.pyd
*.pyo
build/
dist/

# Ignorar ambientes virtuais (venv, env, etc.)
venv/
.venv/
env/

# Ignorar arquivos de log
*.log
log/

# Ignorar arquivos específicos do SO/editor
.DS_Store
.vscode/      
# .vscode/*
# !.vscode/settings.json
# !.vscode/tasks.json
# !.vscode/launch.json
# !.vscode/extensions.json

# Ignorar arquivos de configuração de ambiente
.env
.flaskenv

# Ignorar arquivos de dependências 
node_modules/
